/*DISCOVER PAGE STYLING*/

body {
    background-color: rgb(255, 255, 255);
}

.main {
    margin: 20px;
}

.jumbotron {
    color: white;
    background-color:rgb(43, 43, 43);
    border-radius: 0cm;
}

/*search criteria sections*/
.title {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.subtitle {
    color:rgb(32, 32, 32);
    margin-top: 50px;
}

.list-group {
    border-radius: 0cm; 
}

.list-group-item {
    background-color:rgb(43, 43, 43);
    color: white;
}

/*navbar*/
.nav-item {
    background-color: white;
} 

.nav-link {
    color:rgb(94, 63, 150);
}

.nav-item:hover {
    background-color:rgba(122, 94, 173, 0.733);
}

.nav-link:hover {
    color:white;
}

.btn {
    border-radius: 0cm;
    background-color: rgb(94, 63, 150);
    color: white;
    border: none;
    border-radius: 0cm;
}

.btn:hover {
    background-color: rgb(143, 118, 190);
}

.footer {
    padding: 40px;
}

#lyrics #lyricsButton{
    text-decoration: none;
    color: white;
}
#lyrics {
    background-color: black; 
    margin: auto; 
    display: flex; 
    text-align: center;
    padding: 18px 35px;
    font-size: 20px;
}

#lyrics:hover {
    background-color: gray;
}
